<!DOCTYPE html>
<html lang="" xml:lang="">
  <head>
    <title>Principios de Microeconomía</title>
    <meta charset="utf-8" />
    <meta name="author" content="Carlos Yanes Guerra" />
    <script src="libs/header-attrs/header-attrs.js"></script>
    <link href="libs/remark-css/middlebury.css" rel="stylesheet" />
    <link href="libs/remark-css/middlebury-fonts.css" rel="stylesheet" />
    <script src="libs/kePrint/kePrint.js"></script>
    <link href="libs/lightable/lightable.css" rel="stylesheet" />
  </head>
  <body>
    <textarea id="source">

name: xaringan-title
class: left, middle


# Principios de Microeconomía
&lt;br&gt;
## Ingreso-Consumo y Excedentes
&lt;br&gt;
&lt;br&gt;
&lt;img src="images/lognig.png" width="280" /&gt;

### Carlos Yanes | Departamento de Economía | 2023-03-06



---
class: middle, inverse

.left-column[

# 🆒

]

.right-column[
# Preguntas de la clase anterior?
]

---
class: title-slide-section-blue, middle

## Felicitaciones a

--

.pull-left[
- .white[Orlando Lora 🥇🥇 1:46]
- .white[Marianna Salazar L. 2:17]
- .white[Natalia Peinado R. 2:19]
- .white[Maria Almanza H. 2:23]
]

]

.pull-right[![](https://media.giphy.com/media/M9HnDXluCEgMWtqkPv/giphy.gif)]





---
class: title-slide-section-grey, middle

# Medidas del Bienestar

&lt;br&gt;
&lt;img src="images/lognig.png" width="380" /&gt;

---
# Medidas de bienestar

--

<svg aria-hidden="true" role="img" viewBox="0 0 512 512" style="height:1em;width:1em;vertical-align:-0.125em;margin-left:auto;margin-right:auto;font-size:inherit;fill:blue;overflow:visible;position:relative;"><path d="M27.5 162.2L9 187.1h90.5l6.9-130.7-78.9 105.8zM396.3 45.7L267.7 32l135.7 147.2-7.1-133.5zM112.2 218.3l-11.2-22H9.9L234.8 458zm2-31.2h284l-81.5-88.5L256.3 33zm297.3 9.1L277.6 458l224.8-261.7h-90.9zM415.4 69L406 56.4l.9 17.3 6.1 113.4h90.3zM113.5 93.5l-4.6 85.6L244.7 32 116.1 45.7zm287.7 102.7h-290l42.4 82.9L256.3 480l144.9-283.8z"/></svg> La **demanda** de bienes data lo que podemos consumir de acuerdo al nivel de precios de una economía. *Un primer indicador*

--

<svg aria-hidden="true" role="img" viewBox="0 0 512 512" style="height:1em;width:1em;vertical-align:-0.125em;margin-left:auto;margin-right:auto;font-size:inherit;fill:blue;overflow:visible;position:relative;"><path d="M27.5 162.2L9 187.1h90.5l6.9-130.7-78.9 105.8zM396.3 45.7L267.7 32l135.7 147.2-7.1-133.5zM112.2 218.3l-11.2-22H9.9L234.8 458zm2-31.2h284l-81.5-88.5L256.3 33zm297.3 9.1L277.6 458l224.8-261.7h-90.9zM415.4 69L406 56.4l.9 17.3 6.1 113.4h90.3zM113.5 93.5l-4.6 85.6L244.7 32 116.1 45.7zm287.7 102.7h-290l42.4 82.9L256.3 480l144.9-283.8z"/></svg> En la medida que los **costos de oportunidad** también son acogidos y llevados a su militarización tambien se genera bienestar.

--

<svg aria-hidden="true" role="img" viewBox="0 0 512 512" style="height:1em;width:1em;vertical-align:-0.125em;margin-left:auto;margin-right:auto;font-size:inherit;fill:blue;overflow:visible;position:relative;"><path d="M27.5 162.2L9 187.1h90.5l6.9-130.7-78.9 105.8zM396.3 45.7L267.7 32l135.7 147.2-7.1-133.5zM112.2 218.3l-11.2-22H9.9L234.8 458zm2-31.2h284l-81.5-88.5L256.3 33zm297.3 9.1L277.6 458l224.8-261.7h-90.9zM415.4 69L406 56.4l.9 17.3 6.1 113.4h90.3zM113.5 93.5l-4.6 85.6L244.7 32 116.1 45.7zm287.7 102.7h-290l42.4 82.9L256.3 480l144.9-283.8z"/></svg> Hoy intentaremos mirar la parte de las medidas de .RUred[**Ingreso-consumo**] y lo que hace referencia a los .RUred[**Excedentes**]

---
class: inverse, middle

--

# Como va lo de la elasticidad con el ingreso? 🎤

---
# Elasticidad Ingreso

--

<svg aria-hidden="true" role="img" viewBox="0 0 448 512" style="height:1em;width:0.88em;vertical-align:-0.125em;margin-left:auto;margin-right:auto;font-size:inherit;fill:red;overflow:visible;position:relative;"><path d="M400 0H48C21.5 0 0 21.5 0 48v416c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V48c0-26.5-21.5-48-48-48zM224 480c-17.7 0-32-14.3-32-32s14.3-32 32-32 32 14.3 32 32-14.3 32-32 32z"/></svg> Somos conscientes que la elasticidad con el **ingreso** siempre es positiva, por su relación con el consumo de bienes.

--

| Elasticidad      | Tipo de Bienes | Ejemplo   |
|------------------|----------------|-----------|
| `\(\epsilon_i &lt;0\)`  | Inferior       | Enlatados |
| `\(0&lt;\epsilon_i &lt;1\)`| Normal         | Agua      |
| `\(\epsilon_i &gt;1\)`  | Lujo           | Yates     |

--

&lt;br&gt;

&lt;div align="center"&gt;
![:scale 70%](images/v1.png)

---
# Curva Ingreso - Consumo

--

Para esto, hay que mirar gráficamente:

--

.pull-left[
&lt;img src="images/gf1.png" width="200%" style="display: block; margin: auto;" /&gt;
]

--

.pull-right[
+ En el punto .black[A] parte el consumo inicial del individuo.
{{content}}
]

--

+ Cuando aumenta el ingreso a `\(\color{#d11913}{M_{2}}\)`, se desplaza el óptimo al punto **B** (sigue dándose tangencia).
{{content}}

--

+ Si el ingreso aún sigue aumentando a `\(\color{#d11913}{M_{3}}\)` la canasta del punto **C** sigue siendo óptima y es mas preferida.
{{content}}

---
# Curva Ingreso - Consumo

--

Otra cosa son los **segmentos**, si la pendiente se vuelve:

--

.pull-left[
&lt;img src="images/gf1.png" width="200%" style="display: block; margin: auto;" /&gt;
]

--

.pull-right[
+  **Segmento (A-B)** &lt;span style="color:green"&gt;positivo&lt;/span&gt;, el consumo se incrementa en una misma *proporción* y se compra de ambos bienes `\(x,y \rightarrow\)` **normal**.
{{content}}
]

--

+ **Segmento (B-C)** &lt;span style="color:red"&gt;positivo&lt;/span&gt;, el consumo NO se incrementa en una misma *proporción* y se compra mas del bien `\(y \rightarrow x\)` podría ser **inferior**.
{{content}}

---
# Curva Ingreso - Consumo

--

&lt;midd-blockquote&gt; **Curva de Engel** Muestra como el _ingreso_ afecta la demanda de un bien&lt;/midd-blockquote&gt;

--

Podemos graficarlo de la siguiente forma

--

&lt;img src="images/E1.png" width="80%" style="display: block; margin: auto;" /&gt;

---
# Curva Ingreso - Consumo

--
<svg aria-hidden="true" role="img" viewBox="0 0 448 512" style="height:1em;width:0.88em;vertical-align:-0.125em;margin-left:auto;margin-right:auto;font-size:inherit;fill:orange;overflow:visible;position:relative;"><path d="M223.99908,224a32,32,0,1,0,32.00782,32A32.06431,32.06431,0,0,0,223.99908,224Zm214.172-96c-10.877-19.5-40.50979-50.75-116.27544-41.875C300.39168,34.875,267.63386,0,223.99908,0s-76.39066,34.875-97.89653,86.125C50.3369,77.375,20.706,108.5,9.82907,128-6.54984,157.375-5.17484,201.125,34.958,256-5.17484,310.875-6.54984,354.625,9.82907,384c29.13087,52.375,101.64652,43.625,116.27348,41.875C147.60842,477.125,180.36429,512,223.99908,512s76.3926-34.875,97.89652-86.125c14.62891,1.75,87.14456,10.5,116.27544-41.875C454.55,354.625,453.175,310.875,413.04017,256,453.175,201.125,454.55,157.375,438.171,128ZM63.33886,352c-4-7.25-.125-24.75,15.00391-48.25,6.87695,6.5,14.12891,12.875,21.88087,19.125,1.625,13.75,4,27.125,6.75,40.125C82.34472,363.875,67.09081,358.625,63.33886,352Zm36.88478-162.875c-7.752,6.25-15.00392,12.625-21.88087,19.125-15.12891-23.5-19.00392-41-15.00391-48.25,3.377-6.125,16.37891-11.5,37.88478-11.5,1.75,0,3.875.375,5.75.375C104.09864,162.25,101.84864,175.625,100.22364,189.125ZM223.99908,64c9.50195,0,22.25586,13.5,33.88282,37.25-11.252,3.75-22.50391,8-33.88282,12.875-11.377-4.875-22.62892-9.125-33.88283-12.875C201.74516,77.5,214.49712,64,223.99908,64Zm0,384c-9.502,0-22.25392-13.5-33.88283-37.25,11.25391-3.75,22.50587-8,33.88283-12.875C235.378,402.75,246.62994,407,257.8819,410.75,246.25494,434.5,233.501,448,223.99908,448Zm0-112a80,80,0,1,1,80-80A80.00023,80.00023,0,0,1,223.99908,336ZM384.6593,352c-3.625,6.625-19.00392,11.875-43.63479,11,2.752-13,5.127-26.375,6.752-40.125,7.75195-6.25,15.00391-12.625,21.87891-19.125C384.7843,327.25,388.6593,344.75,384.6593,352ZM369.65538,208.25c-6.875-6.5-14.127-12.875-21.87891-19.125-1.625-13.5-3.875-26.875-6.752-40.25,1.875,0,4.002-.375,5.752-.375,21.50391,0,34.50782,5.375,37.88283,11.5C388.6593,167.25,384.7843,184.75,369.65538,208.25Z"/></svg> Para la parte .black[(A)] el consumo se incrementa cuando el *ingreso* lo hace. _P.e: Los bienes inmuebles_.

--

  + La **pendiente** es .black[positiva].

--

<svg aria-hidden="true" role="img" viewBox="0 0 448 512" style="height:1em;width:0.88em;vertical-align:-0.125em;margin-left:auto;margin-right:auto;font-size:inherit;fill:orange;overflow:visible;position:relative;"><path d="M223.99908,224a32,32,0,1,0,32.00782,32A32.06431,32.06431,0,0,0,223.99908,224Zm214.172-96c-10.877-19.5-40.50979-50.75-116.27544-41.875C300.39168,34.875,267.63386,0,223.99908,0s-76.39066,34.875-97.89653,86.125C50.3369,77.375,20.706,108.5,9.82907,128-6.54984,157.375-5.17484,201.125,34.958,256-5.17484,310.875-6.54984,354.625,9.82907,384c29.13087,52.375,101.64652,43.625,116.27348,41.875C147.60842,477.125,180.36429,512,223.99908,512s76.3926-34.875,97.89652-86.125c14.62891,1.75,87.14456,10.5,116.27544-41.875C454.55,354.625,453.175,310.875,413.04017,256,453.175,201.125,454.55,157.375,438.171,128ZM63.33886,352c-4-7.25-.125-24.75,15.00391-48.25,6.87695,6.5,14.12891,12.875,21.88087,19.125,1.625,13.75,4,27.125,6.75,40.125C82.34472,363.875,67.09081,358.625,63.33886,352Zm36.88478-162.875c-7.752,6.25-15.00392,12.625-21.88087,19.125-15.12891-23.5-19.00392-41-15.00391-48.25,3.377-6.125,16.37891-11.5,37.88478-11.5,1.75,0,3.875.375,5.75.375C104.09864,162.25,101.84864,175.625,100.22364,189.125ZM223.99908,64c9.50195,0,22.25586,13.5,33.88282,37.25-11.252,3.75-22.50391,8-33.88282,12.875-11.377-4.875-22.62892-9.125-33.88283-12.875C201.74516,77.5,214.49712,64,223.99908,64Zm0,384c-9.502,0-22.25392-13.5-33.88283-37.25,11.25391-3.75,22.50587-8,33.88283-12.875C235.378,402.75,246.62994,407,257.8819,410.75,246.25494,434.5,233.501,448,223.99908,448Zm0-112a80,80,0,1,1,80-80A80.00023,80.00023,0,0,1,223.99908,336ZM384.6593,352c-3.625,6.625-19.00392,11.875-43.63479,11,2.752-13,5.127-26.375,6.752-40.125,7.75195-6.25,15.00391-12.625,21.87891-19.125C384.7843,327.25,388.6593,344.75,384.6593,352ZM369.65538,208.25c-6.875-6.5-14.127-12.875-21.87891-19.125-1.625-13.5-3.875-26.875-6.752-40.25,1.875,0,4.002-.375,5.752-.375,21.50391,0,34.50782,5.375,37.88283,11.5C388.6593,167.25,384.7843,184.75,369.65538,208.25Z"/></svg> Para la parte .black[(B)] el consumo se incrementa cuando el ingreso lo hace pero solo hasta cuando el individuo es lo suficientemente rico. _P.e: Los enlatados y el transporte público_.

--

  + La **pendiente** empieza a ser .black[positiva] y luego se contrae hasta llegar a ser .black[negativa]. _Es un bien de entrada normal, pero luego puede ser inferior_.
  
---
class: title-slide-section-grey, middle

# Excedentes (Consumidor y Productor)

&lt;br&gt;
&lt;img src="images/lognig.png" width="380" /&gt;

---
# Excedente del Consumidor

--

&lt;midd-blockquote&gt;Es el **valor** que paga un consumidor de acuerdo a su disposición por pagar para adquirir un producto, bien o servicio.&lt;/midd-blockquote&gt;

--

En otros **términos** la diferencia entre lo que esta dispuesto(a) a pagar y lo que realmente paga (precio de mercado)

--

#### Si una persona le dan 200 dolares al mes estaría dispuesta a dejar de fumar?

--

La .RUred[disposición] siempre impacta tambien en lo que es los precios/salarios de **reserva**.

--

|           | Disponibilidad | Precio Pagado | Excedente |
| --------- | -------------- | ------------- | --------- |
| Byron     | 50             | 30            | 20        |
| Carla     | 45             | 30            | 15        |
| Jefferson | 43             | 30            | 13        |
| Luis      | 35             | 30            | 5         |
| Maira     | 28             |               |           |
| Estefania | 20             |               |           |


---
# Excedente del Consumidor

--

| Nombre        | Disponibilidad a pagar          |
|---------------|---------------------------------|
| Andres        | $1'200.000                      |
| Angie         | 1'100.000                       |
| Laura         | 1'050.000                       |
| Maggy         | 1'000.000                       |

---
# Excedente del Consumidor

--

&lt;img src="images/gf2.png" width="1765" style="display: block; margin: auto;" /&gt;

---
# Excedente del Consumidor

--

Precio             | Quien compra          | Demanda de celulares   |
-------------------|-----------------------|------------------------|
Mas de $1'200.     | Ninguno               | 0                      |
De $1'200 a 1'101  | Andrés                | 1                      |
De $1'101 a 1'051  | Andrés y Angie        | 2                      |
De $1'051 a 1'001  | Andrés, Angie y Laura | 3                      |
1'000 a menos      | Todo(a)s              | 4                      |

---
# Excedente del Consumidor

--

&lt;img src="images/gf3.png" width="883" style="display: block; margin: auto;" /&gt;

---
class: inverse, middle

# Como es el asunto con el Productor?

---
# Excedente del Productor

--

&lt;midd-blockquote&gt;Es el **valor** que recibe un vendedor de acuerdo a su disposición por venta y/o de ofrecer un producto, bien o servicio.&lt;/midd-blockquote&gt;

--

| Nombre        | Disponibilidad a ofrecer  |
|---------------|---------------------------|
| Borja         | $210.000                  |
| Viera         |  180.000                  |
| Cariaco       |  150.000                  |

---
# Excedente del Productor

--

&lt;img src="images/gf4.png" width="883" style="display: block; margin: auto;" /&gt;

---
# Excedente del Productor

--

&lt;img src="images/gf5.png" width="883" style="display: block; margin: auto;" /&gt;

---
class: inverse, middle, center
background-image: url(https://upload.wikimedia.org/wikipedia/commons/b/b1/Dolce_and_Gabbana.svg)
background-size: contain

# Suponga el siguiente ejemplo

---
# Pregunta

### Al público

--

.black[Tatiana] decide comprar una blusa en _Falabella_ de **Dolce &amp; Gabbana** por valor de $800.000. Ella estaba dispuesta a pagar hasta 1'000.000 por ella. Cuando la compra y se la muestra a su mejor amiga .black[Adriana], ésta se enamora de la blusa y como le gusta tanto - la valora en 1'500.000- . Le hace una oferta a su amiga por valor de 1'200.000, la cual, accede a venderle la blusa de lo mas de contenta.

--

### ¿Cuánto es el excedente total de la transacción?

--

&lt;div align="center"&gt;
![:scale 20%](images/dolce.jpeg)

---
# Respuesta

--

<svg aria-hidden="true" role="img" viewBox="0 0 640 512" style="height:1em;width:1.25em;vertical-align:-0.125em;margin-left:auto;margin-right:auto;font-size:inherit;fill:blue;overflow:visible;position:relative;"><path d="M425.7 256c-16.9 0-32.8-9-41.4-23.4L320 126l-64.2 106.6c-8.7 14.5-24.6 23.5-41.5 23.5-4.5 0-9-.6-13.3-1.9L64 215v178c0 14.7 10 27.5 24.2 31l216.2 54.1c10.2 2.5 20.9 2.5 31 0L551.8 424c14.2-3.6 24.2-16.4 24.2-31V215l-137 39.1c-4.3 1.3-8.8 1.9-13.3 1.9zm212.6-112.2L586.8 41c-3.1-6.2-9.8-9.8-16.7-8.9L320 64l91.7 152.1c3.8 6.3 11.4 9.3 18.5 7.3l197.9-56.5c9.9-2.9 14.7-13.9 10.2-23.1zM53.2 41L1.7 143.8c-4.6 9.2.3 20.2 10.1 23l197.9 56.5c7.1 2 14.7-1 18.5-7.3L320 64 69.8 32.1c-6.9-.8-13.5 2.7-16.6 8.9z"/></svg> El excedente es:

--

`$$\text{Excedente total}\Rightarrow \underbrace{200.000}_{\text{Exc Productor Tatiana}}  + \underbrace{300.000}_{\text{Exc. Consumidor Adriana}} = 500.000$$`

--

Si creía que era de $400.000 esta errado(a).

--

El **Excedente total** es la suma del excedente del productor mas el del consumidor en la última etapa de la venta.
---
# Suma de excedentes

--

&lt;img src="images/gf6.png" width="883" style="display: block; margin: auto;" /&gt;
---
# Otro ejemplo

--

Suponga que tiene un mercado cuya función de demanda es `\(Q_d=30-2P\)` y la oferta es `\(Q_s=20P\)`. Cuanto es el excedente del consumidor?

--

`$$\begin{aligned}
30-2P=&amp;20P\\
30=&amp;22P\\
1.36=&amp;P^{*}
\end{aligned}$$`


--

Demanda será en efecto `\(Q=27.27\)` y el excedende es:

--

`$$Exc=\frac{b*a}{2}\Rightarrow \frac{(27.27)(15-1.36)}{2}=13.64$$`
--

Esta viene a ser el área de bienestar del individuo. Puede crecer o ser mas grande en la medida que baja el precio.


---
class: inverse, middle

--

# Cómo es eso de los impuestos? 

---
# Impuestos

--

Por qué nuestros gobernantes nos implantan .RUred[Impuestos] y proveen de .black[subsidios]?

--

.pull-left[
## .RUred[Impuestos]

1. Recaudar ingresos para bienes públicos.

2. Desincentivar los "malos" comportamientos.

3. Redistribuir la renta o la riqueza.
]

.pull-right[
## .blue[Subsidios]

1. Proporcionar estímulo económico.

2. Fomentar los "buenos" comportamientos.

3. Redistribuir la renta o la riqueza.
]

---
# Impuestos

--

+ Impuestos por unidad

  - Impuestos al tabaco, el cannabis y el alcohol.
  - Impuestos especiales sobre el alojamiento, la gasolina y otros bienes. 
  - Impuesto sobre las ventanas en el Reino Unido (1696-1851).

--

+ Impuestos ad valorem

    - Impuestos sobre las ventas.
    - Impuestos sobre nóminas e ingresos.
    - Impuestos sobre la propiedad.

--
    
+ Impuestos lump-sum.

    - Tasas de registro mercantil.
    - Sobre tasa gasolina.

---
# Impuestos

--

.left-column[

**P:** ¿Cómo afecta un impuesto por unidad a los productores, al precio y la cantidad de equilibrio?

&lt;table class="table" style="margin-left: auto; margin-right: auto;"&gt;
 &lt;thead&gt;
  &lt;tr&gt;
   &lt;th style="text-align:left;"&gt; Impuesto &lt;/th&gt;
   &lt;th style="text-align:center;"&gt; $0.00 &lt;/th&gt;
   &lt;th style="text-align:center;"&gt; $3.00 &lt;/th&gt;
  &lt;/tr&gt;
 &lt;/thead&gt;
&lt;tbody&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; Mercado &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; 4.5 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt;  &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; P_Cons &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $5.50 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt;  &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; P_Prod &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $5.50 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt;  &lt;/td&gt;
  &lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
]

.right-column[
&lt;img src="Clase06_files/figure-html/unnamed-chunk-2-1.svg" style="display: block; margin: auto;" /&gt;
]
---
# Impuestos

.left-column[

**P:** ¿Cómo afecta un impuesto por unidad a los productores, al precio y la cantidad de equilibrio?

&lt;table class="table" style="margin-left: auto; margin-right: auto;"&gt;
 &lt;thead&gt;
  &lt;tr&gt;
   &lt;th style="text-align:left;"&gt; Impuesto &lt;/th&gt;
   &lt;th style="text-align:center;"&gt; $0.00 &lt;/th&gt;
   &lt;th style="text-align:center;"&gt; $3.00 &lt;/th&gt;
  &lt;/tr&gt;
 &lt;/thead&gt;
&lt;tbody&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; Mercado &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; 4.5 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; 3 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; P_Cons &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $5.50 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $7.00 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; P_Prod &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $5.50 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $4.00 &lt;/td&gt;
  &lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;

]


.right-column[
&lt;img src="Clase06_files/figure-html/unnamed-chunk-4-1.svg" style="display: block; margin: auto;" /&gt;
]

---
# Impuestos
.left-column[

**P:** ¿Cómo afecta un impuesto por unidad a los productores, al precio y la cantidad de equilibrio?

&lt;table class="table" style="margin-left: auto; margin-right: auto;"&gt;
 &lt;thead&gt;
  &lt;tr&gt;
   &lt;th style="text-align:left;"&gt; Impuesto &lt;/th&gt;
   &lt;th style="text-align:center;"&gt; $0.00 &lt;/th&gt;
   &lt;th style="text-align:center;"&gt; $3.00 &lt;/th&gt;
  &lt;/tr&gt;
 &lt;/thead&gt;
&lt;tbody&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; Mercado &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; 4.5 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; 3 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; P_Cons &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $5.50 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; &lt;font color="#e64173"&gt;$7.00&lt;/font&gt; &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; P_Prod &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $5.50 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; &lt;font color="#e64173"&gt;$4.00&lt;/font&gt; &lt;/td&gt;
  &lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
]

.right-column[
&lt;img src="Clase06_files/figure-html/unnamed-chunk-6-1.svg" style="display: block; margin: auto;" /&gt;
]
---
# Impuestos

--

.left-column[

**P:** ¿Cómo el impuesto tiene inferencia en el excedente de mercado?

&lt;table class="table" style="margin-left: auto; margin-right: auto;"&gt;
 &lt;thead&gt;
  &lt;tr&gt;
   &lt;th style="text-align:left;"&gt; Impuesto &lt;/th&gt;
   &lt;th style="text-align:center;"&gt; $0.00 &lt;/th&gt;
   &lt;th style="text-align:center;"&gt; $3.00 &lt;/th&gt;
  &lt;/tr&gt;
 &lt;/thead&gt;
&lt;tbody&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; EC &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $10.125 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt;  &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; EP &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $10.125 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt;  &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; Gob &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $0.00 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt;  &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;"&gt; ST &lt;/td&gt;
   &lt;td style="text-align:center;"&gt; $20.25 &lt;/td&gt;
   &lt;td style="text-align:center;"&gt; \( \qquad \, \ \ \) &lt;/td&gt;
  &lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
]

.right-column[
&lt;img src="Clase06_files/figure-html/unnamed-chunk-8-1.svg" style="display: block; margin: auto;" /&gt;
]
---
# Impuestos

.left-column[

**P:** ¿Cómo el impuesto tiene inferencia en el excedente de mercado?

&lt;table class="table" style="margin-left: auto; margin-right: auto;"&gt;
 &lt;thead&gt;
  &lt;tr&gt;
   &lt;th style="text-align:left;"&gt; Impuesto &lt;/th&gt;
   &lt;th style="text-align:center;"&gt; $0.00 &lt;/th&gt;
   &lt;th style="text-align:center;"&gt; $3.00 &lt;/th&gt;
  &lt;/tr&gt;
 &lt;/thead&gt;
&lt;tbody&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; EC &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $10.125 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $4.50 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; EP &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $10.125 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $4.50 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; Gob &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $0.00 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $9.00 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;"&gt; ST &lt;/td&gt;
   &lt;td style="text-align:center;"&gt; $20.25 &lt;/td&gt;
   &lt;td style="text-align:center;"&gt; $18.00 &lt;/td&gt;
  &lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
]

.right-column[
&lt;img src="Clase06_files/figure-html/unnamed-chunk-10-1.svg" style="display: block; margin: auto;" /&gt;
]
---
# Impuestos

--

.left-column[

**P:** ¿Qué ocurre con la eficiencia del mercado?

]

.right-colum[
&lt;img src="Clase06_files/figure-html/unnamed-chunk-11-1.svg" style="display: block; margin: auto;" /&gt;
]
---
class: inverse, middle

--

# Y si solo buscaramos afectar al consumidor? 👀

---
# Impuesto al consumidor

.left-column[

**P:** ¿Cómo afecta un impuesto por unidad a los consumidores, al precio y la cantidad de equilibrio?

&lt;table class="table" style="margin-left: auto; margin-right: auto;"&gt;
 &lt;thead&gt;
  &lt;tr&gt;
   &lt;th style="text-align:left;"&gt; Impuesto &lt;/th&gt;
   &lt;th style="text-align:center;"&gt; $0.00 &lt;/th&gt;
   &lt;th style="text-align:center;"&gt; $3.00 &lt;/th&gt;
  &lt;/tr&gt;
 &lt;/thead&gt;
&lt;tbody&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; Mercado &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; 4.5 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt;  &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; P_Cons &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $5.50 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt;  &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; P_Prod &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $5.50 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt;  &lt;/td&gt;
  &lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
]

.right-column[
&lt;img src="Clase06_files/figure-html/unnamed-chunk-13-1.svg" style="display: block; margin: auto;" /&gt;
]
---
# Impuesto al consumidor

.left-column[

**P:** ¿Cómo afecta un impuesto por unidad a los consumidores, al precio y la cantidad de equilibrio?

&lt;table class="table" style="margin-left: auto; margin-right: auto;"&gt;
 &lt;thead&gt;
  &lt;tr&gt;
   &lt;th style="text-align:left;"&gt; Impuesto &lt;/th&gt;
   &lt;th style="text-align:center;"&gt; $0.00 &lt;/th&gt;
   &lt;th style="text-align:center;"&gt; $3.00 &lt;/th&gt;
  &lt;/tr&gt;
 &lt;/thead&gt;
&lt;tbody&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; Mercado &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; 4.5 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; 3 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; P_Cons &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $5.50 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $7.00 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; P_Prod &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $5.50 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $4.00 &lt;/td&gt;
  &lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
]

.right-column[
&lt;img src="Clase06_files/figure-html/unnamed-chunk-15-1.svg" style="display: block; margin: auto;" /&gt;
]
---
# Impuesto al consumidor

.left-column[

**P:** ¿Cómo afecta un impuesto por unidad a los consumidores, al precio y la cantidad de equilibrio?

&lt;table class="table" style="margin-left: auto; margin-right: auto;"&gt;
 &lt;thead&gt;
  &lt;tr&gt;
   &lt;th style="text-align:left;"&gt; Impuesto &lt;/th&gt;
   &lt;th style="text-align:center;"&gt; $0.00 &lt;/th&gt;
   &lt;th style="text-align:center;"&gt; $3.00 &lt;/th&gt;
  &lt;/tr&gt;
 &lt;/thead&gt;
&lt;tbody&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; Mercado &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; 4.5 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; 3 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; P_Cons &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $5.50 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; &lt;font color="#e64173"&gt;$7.00&lt;/font&gt; &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; P_Prod &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $5.50 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; &lt;font color="#e64173"&gt;$4.00&lt;/font&gt; &lt;/td&gt;
  &lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
]

.right-column[
&lt;img src="Clase06_files/figure-html/unnamed-chunk-17-1.svg" style="display: block; margin: auto;" /&gt;
]
---
# Impuesto al consumidor

.left-column[

**P:** ¿Cómo afecta un impuesto por unidad a los consumidores, al precio y la cantidad de equilibrio?

&lt;table class="table" style="margin-left: auto; margin-right: auto;"&gt;
 &lt;thead&gt;
  &lt;tr&gt;
   &lt;th style="text-align:left;"&gt; Imp &lt;/th&gt;
   &lt;th style="text-align:center;"&gt; $0.00 &lt;/th&gt;
   &lt;th style="text-align:center;"&gt; $3.00 &lt;/th&gt;
  &lt;/tr&gt;
 &lt;/thead&gt;
&lt;tbody&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; EC &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $10.125 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt;  &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; EP &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $10.125 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt;  &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; Gob &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $0.00 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt;  &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;"&gt; ST &lt;/td&gt;
   &lt;td style="text-align:center;"&gt; $20.25 &lt;/td&gt;
   &lt;td style="text-align:center;"&gt; \( \qquad \, \ \ \) &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;"&gt; DWL &lt;/td&gt;
   &lt;td style="text-align:center;"&gt; $0.00 &lt;/td&gt;
   &lt;td style="text-align:center;"&gt;  &lt;/td&gt;
  &lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
]

.right-column[
&lt;img src="Clase06_files/figure-html/unnamed-chunk-19-1.svg" style="display: block; margin: auto;" /&gt;
]
---
# Impuesto al consumidor

.left-column[

**P:** ¿Cómo afecta un impuesto por unidad a los consumidores, al precio y la cantidad de equilibrio?

&lt;table class="table" style="margin-left: auto; margin-right: auto;"&gt;
 &lt;thead&gt;
  &lt;tr&gt;
   &lt;th style="text-align:left;"&gt; Imp &lt;/th&gt;
   &lt;th style="text-align:center;"&gt; $0.00 &lt;/th&gt;
   &lt;th style="text-align:center;"&gt; $3.00 &lt;/th&gt;
  &lt;/tr&gt;
 &lt;/thead&gt;
&lt;tbody&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; EC &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $10.125 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $4.50 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; EP &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $10.125 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $4.50 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; Gob &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $0.00 &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $9.00 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;"&gt; ST &lt;/td&gt;
   &lt;td style="text-align:center;"&gt; $20.25 &lt;/td&gt;
   &lt;td style="text-align:center;"&gt; $18.00 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;"&gt; DWL &lt;/td&gt;
   &lt;td style="text-align:center;"&gt; $0.00 &lt;/td&gt;
   &lt;td style="text-align:center;"&gt; $2.25 &lt;/td&gt;
  &lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
]

.right-column[
&lt;img src="Clase06_files/figure-html/unnamed-chunk-21-1.svg" style="display: block; margin: auto;" /&gt;
]
---
class: inverse, middle

# En quien impacta mas el impuesto entonces? 🕵🏼

---
# Incidencia

.left-column[
**P** Sobre quien recae el impuesto (carga)?
&lt;table class="table" style="margin-left: auto; margin-right: auto;"&gt;
 &lt;thead&gt;
  &lt;tr&gt;
   &lt;th style="text-align:left;"&gt; Imp &lt;/th&gt;
   &lt;th style="text-align:center;"&gt; $3.00 &lt;/th&gt;
  &lt;/tr&gt;
 &lt;/thead&gt;
&lt;tbody&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; Carga Consumidor &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt;  &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; Carga Productor &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt;  &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; Gob &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $9.00 &lt;/td&gt;
  &lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
]

.right-column[
&lt;img src="Clase06_files/figure-html/unnamed-chunk-23-1.svg" style="display: block; margin: auto;" /&gt;
]
---
# Incidencia

.left-column[
**P** Sobre quien recae el impuesto (carga)?
&lt;table class="table" style="margin-left: auto; margin-right: auto;"&gt;
 &lt;thead&gt;
  &lt;tr&gt;
   &lt;th style="text-align:left;"&gt; Imp &lt;/th&gt;
   &lt;th style="text-align:center;"&gt; $3.00 &lt;/th&gt;
  &lt;/tr&gt;
 &lt;/thead&gt;
&lt;tbody&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; Carga Consumidor &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $4.50 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; Carga Productor &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $4.50 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; Gob &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $9.00 &lt;/td&gt;
  &lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
]

.right-column[
&lt;img src="Clase06_files/figure-html/unnamed-chunk-25-1.svg" style="display: block; margin: auto;" /&gt;
]
---
# Incidencia

.left-column[
.blue[La incidencia fiscal **no** depende de si el Gobierno grava a los productores o a los consumidores.] 

]

.right-column[
&lt;img src="Clase06_files/figure-html/unnamed-chunk-26-1.svg" style="display: block; margin: auto;" /&gt;
]
---
# Incidencia

.left-column[
**P:** Si por estatuto no se puede hacer, que es lo que lo hace?

&lt;table class="table" style="margin-left: auto; margin-right: auto;"&gt;
 &lt;thead&gt;
  &lt;tr&gt;
   &lt;th style="text-align:left;"&gt; Imp &lt;/th&gt;
   &lt;th style="text-align:center;"&gt; $3.00 &lt;/th&gt;
  &lt;/tr&gt;
 &lt;/thead&gt;
&lt;tbody&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; Carga Consumidor &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $2.50 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; Carga Productor &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $12.50 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; Gob &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $15.00 &lt;/td&gt;
  &lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;
]

.right-column[
&lt;img src="Clase06_files/figure-html/unnamed-chunk-28-1.svg" style="display: block; margin: auto;" /&gt;
]
---
# Incidencia

.left-column[
**P:** Si por estatuto no se puede hacer, que es lo que lo hace?

&lt;table class="table" style="margin-left: auto; margin-right: auto;"&gt;
 &lt;thead&gt;
  &lt;tr&gt;
   &lt;th style="text-align:left;"&gt; Imp &lt;/th&gt;
   &lt;th style="text-align:center;"&gt; $3.00 &lt;/th&gt;
  &lt;/tr&gt;
 &lt;/thead&gt;
&lt;tbody&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; Carga Consumidor &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $4.00 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; Carga Productor &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $2.00 &lt;/td&gt;
  &lt;/tr&gt;
  &lt;tr&gt;
   &lt;td style="text-align:left;line-height: 110%;"&gt; Gob &lt;/td&gt;
   &lt;td style="text-align:center;line-height: 110%;"&gt; $6.00 &lt;/td&gt;
  &lt;/tr&gt;
&lt;/tbody&gt;
&lt;/table&gt;

]

.right-column[
&lt;img src="Clase06_files/figure-html/unnamed-chunk-30-1.svg" style="display: block; margin: auto;" /&gt;
]
---
# Incidencia

.left-column[

**P:** Si por estatuto no se puede hacer, que es lo que lo hace?

**R:** .RUred[La elasticidad de la demanda y oferta!]
&lt;br&gt; --&gt; El lado inelástico del mercado soporta más la carga.]
.right-column[
&lt;img src="Clase06_files/figure-html/unnamed-chunk-31-1.svg" style="display: block; margin: auto;" /&gt;
]
---
class: title-slide-section-grey
# Bibliografía

<svg aria-hidden="true" role="img" viewBox="0 0 448 512" style="height:1em;width:0.88em;vertical-align:-0.125em;margin-left:auto;margin-right:auto;font-size:inherit;fill:currentColor;overflow:visible;position:relative;"><path d="M448 360V24c0-13.3-10.7-24-24-24H96C43 0 0 43 0 96v320c0 53 43 96 96 96h328c13.3 0 24-10.7 24-24v-16c0-7.5-3.5-14.3-8.9-18.7-4.2-15.4-4.2-59.3 0-74.7 5.4-4.3 8.9-11.1 8.9-18.6zM128 134c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm0 64c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm253.4 250H96c-17.7 0-32-14.3-32-32 0-17.6 14.4-32 32-32h285.4c-1.9 17.1-1.9 46.9 0 64z"/></svg> Coppock, L., &amp; Mateer, D. (2018). *Principles of Economics (Second edition)*. W.W. Norton &amp; Company, inc. 

<svg aria-hidden="true" role="img" viewBox="0 0 448 512" style="height:1em;width:0.88em;vertical-align:-0.125em;margin-left:auto;margin-right:auto;font-size:inherit;fill:currentColor;overflow:visible;position:relative;"><path d="M448 360V24c0-13.3-10.7-24-24-24H96C43 0 0 43 0 96v320c0 53 43 96 96 96h328c13.3 0 24-10.7 24-24v-16c0-7.5-3.5-14.3-8.9-18.7-4.2-15.4-4.2-59.3 0-74.7 5.4-4.3 8.9-11.1 8.9-18.6zM128 134c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm0 64c0-3.3 2.7-6 6-6h212c3.3 0 6 2.7 6 6v20c0 3.3-2.7 6-6 6H134c-3.3 0-6-2.7-6-6v-20zm253.4 250H96c-17.7 0-32-14.3-32-32 0-17.6 14.4-32 32-32h285.4c-1.9 17.1-1.9 46.9 0 64z"/></svg> Krugman, P., &amp; Wells, R. (2014). *Microeconomics (for AP)*. New York: Worth Publishers.



---
class: title-slide-final, middle

# Gracias por su atención!

## Alguna pregunta adicional?

### Carlos Andres Yanes Guerra
<svg aria-hidden="true" role="img" viewBox="0 0 512 512" style="height:1em;width:1em;vertical-align:-0.125em;margin-left:auto;margin-right:auto;font-size:inherit;fill:red;overflow:visible;position:relative;"><path d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z"/></svg> cayanes@uninorte.edu.co
<svg aria-hidden="true" role="img" viewBox="0 0 512 512" style="height:1em;width:1em;vertical-align:-0.125em;margin-left:auto;margin-right:auto;font-size:inherit;fill:blue;overflow:visible;position:relative;"><path d="M496 128v16a8 8 0 0 1-8 8h-24v12c0 6.627-5.373 12-12 12H60c-6.627 0-12-5.373-12-12v-12H24a8 8 0 0 1-8-8v-16a8 8 0 0 1 4.941-7.392l232-88a7.996 7.996 0 0 1 6.118 0l232 88A8 8 0 0 1 496 128zm-24 304H40c-13.255 0-24 10.745-24 24v16a8 8 0 0 0 8 8h464a8 8 0 0 0 8-8v-16c0-13.255-10.745-24-24-24zM96 192v192H60c-6.627 0-12 5.373-12 12v20h416v-20c0-6.627-5.373-12-12-12h-36V192h-64v192h-64V192h-64v192h-64V192H96z"/></svg> Universidad del Norte
    </textarea>
<style data-target="print-only">@media screen {.remark-slide-container{display:block;}.remark-slide-scaler{box-shadow:none;}}</style>
<script src="https://remarkjs.com/downloads/remark-latest.min.js"></script>
<script src="https://www.jvcasillas.com/midd_xaringan/js/midd_xaringan.js"></script>
<script>var slideshow = remark.create({
"highlightStyle": "github",
"highlightLines": true,
"countIncrementalSlides": false,
"ratio": "16:9"
});
if (window.HTMLWidgets) slideshow.on('afterShowSlide', function (slide) {
  window.dispatchEvent(new Event('resize'));
});
(function(d) {
  var s = d.createElement("style"), r = d.querySelector(".remark-slide-scaler");
  if (!r) return;
  s.type = "text/css"; s.innerHTML = "@page {size: " + r.style.width + " " + r.style.height +"; }";
  d.head.appendChild(s);
})(document);

(function(d) {
  var el = d.getElementsByClassName("remark-slides-area");
  if (!el) return;
  var slide, slides = slideshow.getSlides(), els = el[0].children;
  for (var i = 1; i < slides.length; i++) {
    slide = slides[i];
    if (slide.properties.continued === "true" || slide.properties.count === "false") {
      els[i - 1].className += ' has-continuation';
    }
  }
  var s = d.createElement("style");
  s.type = "text/css"; s.innerHTML = "@media print { .has-continuation { display: none; } }";
  d.head.appendChild(s);
})(document);
// delete the temporary CSS (for displaying all slides initially) when the user
// starts to view slides
(function() {
  var deleted = false;
  slideshow.on('beforeShowSlide', function(slide) {
    if (deleted) return;
    var sheets = document.styleSheets, node;
    for (var i = 0; i < sheets.length; i++) {
      node = sheets[i].ownerNode;
      if (node.dataset["target"] !== "print-only") continue;
      node.parentNode.removeChild(node);
    }
    deleted = true;
  });
})();
(function() {
  "use strict"
  // Replace <script> tags in slides area to make them executable
  var scripts = document.querySelectorAll(
    '.remark-slides-area .remark-slide-container script'
  );
  if (!scripts.length) return;
  for (var i = 0; i < scripts.length; i++) {
    var s = document.createElement('script');
    var code = document.createTextNode(scripts[i].textContent);
    s.appendChild(code);
    var scriptAttrs = scripts[i].attributes;
    for (var j = 0; j < scriptAttrs.length; j++) {
      s.setAttribute(scriptAttrs[j].name, scriptAttrs[j].value);
    }
    scripts[i].parentElement.replaceChild(s, scripts[i]);
  }
})();
(function() {
  var links = document.getElementsByTagName('a');
  for (var i = 0; i < links.length; i++) {
    if (/^(https?:)?\/\//.test(links[i].getAttribute('href'))) {
      links[i].target = '_blank';
    }
  }
})();
// adds .remark-code-has-line-highlighted class to <pre> parent elements
// of code chunks containing highlighted lines with class .remark-code-line-highlighted
(function(d) {
  const hlines = d.querySelectorAll('.remark-code-line-highlighted');
  const preParents = [];
  const findPreParent = function(line, p = 0) {
    if (p > 1) return null; // traverse up no further than grandparent
    const el = line.parentElement;
    return el.tagName === "PRE" ? el : findPreParent(el, ++p);
  };

  for (let line of hlines) {
    let pre = findPreParent(line);
    if (pre && !preParents.includes(pre)) preParents.push(pre);
  }
  preParents.forEach(p => p.classList.add("remark-code-has-line-highlighted"));
})(document);</script>

<script>
slideshow._releaseMath = function(el) {
  var i, text, code, codes = el.getElementsByTagName('code');
  for (i = 0; i < codes.length;) {
    code = codes[i];
    if (code.parentNode.tagName !== 'PRE' && code.childElementCount === 0) {
      text = code.textContent;
      if (/^\\\((.|\s)+\\\)$/.test(text) || /^\\\[(.|\s)+\\\]$/.test(text) ||
          /^\$\$(.|\s)+\$\$$/.test(text) ||
          /^\\begin\{([^}]+)\}(.|\s)+\\end\{[^}]+\}$/.test(text)) {
        code.outerHTML = code.innerHTML;  // remove <code></code>
        continue;
      }
    }
    i++;
  }
};
slideshow._releaseMath(document);
</script>
<!-- dynamically load mathjax for compatibility with self-contained -->
<script>
(function () {
  var script = document.createElement('script');
  script.type = 'text/javascript';
  script.src  = 'https://mathjax.rstudio.com/latest/MathJax.js?config=TeX-MML-AM_CHTML';
  if (location.protocol !== 'file:' && /^https?:/.test(script.src))
    script.src  = script.src.replace(/^https?:/, '');
  document.getElementsByTagName('head')[0].appendChild(script);
})();
</script>
  </body>
</html>
